body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    background: rgb(184, 183, 183);
    display: block;
}

.blocks_mains {

    margin: 0;
    margin-inline-start: 0px;
    margin-block-end: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14;
    background:rgb(255, 255, 255);
    color: rgb(0, 29, 109)
}

.blocks_about {

    margin: 0;
    margin-bottom: 100px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0)
}

.blocks_text {

    margin-left: 000px;
    margin-top: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
    background: #85858559;
    color: rgb(66, 37, 75);
    font-size: 20px;
}
.blocks_EXP {

    margin-left: 000px;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: #94949459;
    color: rgb(66, 37, 75)
    
}

.asides {
 margin-right: 20px;
    float: left;
    font-size: 20px;
    background: rgb(255, 255, 255);




}


img {
    float: right;
    border-radius: 100%;
    width: 200px;
    height: 200px;

}

.nam {
    float: right;
    font-size: 15px;
    color: black;
    text-align: right;
}

.butclick {
    float: top;
    display: inline-flex;
    text-align: 75px;
    height: 40px;

    padding: 0;
    background: rgb(201, 202, 124);
    border: none;
    outline: rgb(0, 0, 0);
    border-radius: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(8, 42, 70);
    margin: 80px;

}

.butclick:hover {
    background: rgb(106, 238, 106);
    color: rgb(21, 99, 69);
    font-style: italic;
}

.butclick:active {
    background: rgb(163, 250, 163);
    color: blue;
}

.butedu {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    height: 100%
}



.white {
    background: #fff;
}

.black {
    background: #000000;
}

.red {
    background: #dd0707;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: white;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: grey;
    transform: translate(-4%, 40%);
    z-index: -1;
}

footer {
    float: top;
    margin-left: 750px;
}