body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    color:#000000;
    background: rgb(121, 138, 121);
  



}
section{
    color:rgb(193, 196, 53);
    background: rgb(14, 71, 14);
    size: 50px;


}
.white{
    background: #fff;
}
.black{
    background: #000000;
}
.magenta{
    color: #46abbd ;
}
.oppback{
      background: rgb(14, 71, 14);
    color:rgb(200, 219, 117);
    position:absolute;

}
.curve{
    position: absolute;
    height: 225px;
    width:100%;
    bottom:0;
}
.curve::before{
    content: '';
    display: block;
    position:absolute;
    border-radius: 100% 50%;
    width:55%;
    height: 100%;
    background-color:rgb(156, 189, 156);
    transform: translate(85%, 60%);
}
.curve::after {
    content: '';
    display: block;
    position:absolute;
    border-radius: 100% 50%;
    width:55%;
    height: 100%;
    background-color:rgb(55, 68, 55);
    transform: translate(-4%, 40%);
z-index: -1;}